/*estilos da minha página web*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*-----------------------------------------------*/
/*geral*/
.text-center {
    text-align: center;
}

.margin-top-40 {
    margin-top: 40px;
}

/*------------------------------------------------*/
.container-cabecalho {
    text-align: center;
    padding: 20px;
    background-color: #04233f;
    background-image: url('../imagens/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.logo_empresa{
    max-height: 150px;
    max-width: 150px;
    display: flex;
}
.container-cabecalho h3 {
    font-weight: 600;
    font-size: 2em;
    color: #fff
    ;
}

/*------------------------------------------------*/
.container-navegacao {
    text-align: left;
    padding: 20px;
    font-size: 25px;
}

.container-navegacao a {
    font-size: 1.5em;
    margin: 0px 50px;
    text-decoration: none;
    color: #fff;
}

.container-navegacao a:hover {
    color: #000;
}
/* 
#divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  } */

/*------------------------------------------------*/
.container-quem-somos {
    background-color: #E3F0E2;
    overflow: auto;
}

.container-quem-somos .servico {
    float: center;
    font-size: 40px;
    margin: 80px auto;  
    background-image: linear-gradient(#D4EBD2, #C2E1BF);
    background-repeat: no-repeat;
    width: 70%;
    height: 1000px;
    border-radius: 30px;
    text-align: left top;
}

.container-texto{
    padding: 25px;
    color: black;
    text-align: left top;
}

.container-pocos {
    width: 100%;
    /* Define a largura máxima */
    height: 100%;
    /* Define a altura do contêiner */
    background-image: url('../imagens/refinaria.png');
    /* URL da imagem de fundo */
    border-radius: 30px;
    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o contêiner */
    background-position: center bottom;
    /* Centraliza a imagem de fundo */
    padding: 0;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total do contêiner */
}

.container-bacia{
    width: 100%;
    /* Define a largura máxima */
    height: 100%;
    /* Define a altura do contêiner */
    background-image: url('../imagens/bacia.png');
    /* URL da imagem de fundo */
    border-radius: 30px;
    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o contêiner */
    background-position: center bottom;
    /* Centraliza a imagem de fundo */
    padding: 0;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total do contêiner */
}


.container-petroleoBR{
    width: 100%;
    /* Define a largura máxima */
    height: 100%;
    /* Define a altura do contêiner */
    background-image: url('../imagens/petrobras.png');
    /* URL da imagem de fundo */
    border-radius: 30px;
    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o contêiner */
    background-repeat: no-repeat;
    background-position: center bottom;
    /* Centraliza a imagem de fundo */
    padding: 0;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total do contêiner */
}

.container-onshore{
    width: 100%;
    /* Define a largura máxima */
    height: 100%;
    /* Define a altura do contêiner */
    background-image: url('../imagens/onshore.png');
    /* URL da imagem de fundo */
    border-radius: 30px;
    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o contêiner */
    background-position: center bottom;
    /* Centraliza a imagem de fundo */
    padding: 0;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total do contêiner */
}


.container-offshore{
    width: 100%;
    /* Define a largura máxima */
    height: 100%;
    /* Define a altura do contêiner */
    background-image: url('../imagens/offshore.png');
    /* URL da imagem de fundo */
    border-radius: 30px;
    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o contêiner */
    background-position: center bottom;
    /* Centraliza a imagem de fundo */
    padding: 0;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Garante que o padding não aumente o tamanho total do contêiner */
}





.container-quem-somos .servico .icone {
    margin-bottom: 10px;
}

.container-quem-somos .servico-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1.2em;
    color: #000;
}

.container-quem-somos .servico-texto-realce {
    color: black;
    font-weight: bold;
}


/*------------------------------------------------*/
.container-servicos-contato {
    background-color: #E3F0E2;
    ;
    padding: 80px;
    text-align: center;
}

.container-servicos-contato .botoes-servicos-contato {
    padding: 60px;
    text-align: center;
}

.botoes-servicos-contato a {
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #008eb9;
    color: white;
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 10px
}

.botoes-servicos-contato a:hover {
    background-color: white;
    color: black
}

/*-----------------------------------------------*/
.container-servicos {
    background-color: #05192a;
    font-size: 1.1em;
    padding: 60px;
    overflow: auto;
}

.container-servicos h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.container-servicos h3 {
    color: #2097ff;
    padding: 20px 0;
}

.container-servicos article {
    width: 40%;
    margin: auto;
    float: center;
}

.container-servicos li {
    margin-bottom: 20px;
    margin-left: 50px;
    color: white;
}

.container-contatos h3 {
    font-size: 1, 5em;
    font-weight: 100;
    width: 40%;
    margin: auto;
    color: white;
    margin-bottom: 20px;
    border: 1px solid #105088;
    background-color: #08253f;
    border-radius: 10px;
    padding: 20px;
}

/*------------------------------------------------*/
.container-contatos {
    background-color: #05192a;
    padding: 80px;
}

.container-contatos h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.container-contatos .contatos {
    display: block;
    text-decoration: none;
    font-size: 2em;
    background-color: #008eb9;
    color: #00a2ff;
    margin-bottom: 20px;
}




/*------------------------------------------------*/
footer {
    text-align: center;
    padding: 80px;
    background-color: #02111f;
    color: gray;
}